@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input.ip {
    @apply px-2 py-1 w-full border border-slate-500 rounded-md focus:outline-none focus:ring-0 focus:border-blue-600;
  }
}

@layer components {
  .btn {
    @apply rounded-md px-2 py-1 border border-spacing-1.5 hover:bg-slate-100 uppercase shadow-md focus:ring focus:ring-opacity-75;
  }
  .btn-primary {
    @apply text-white bg-blue-500 hover:bg-blue-700 focus:ring-blue-400;
  }
  .btn-danger {
    @apply text-white bg-red-500 hover:bg-red-700 focus:ring-red-400;
  }
  .btn-success {
    @apply text-white bg-green-500 hover:bg-green-700 focus:ring-green-400;
  }
}

@layer utilities {
  .text-rrr {
    color: red;
  }
}
